altgraph==0.17.4			#- PyInstaller
contourpy==1.3.3		#- matplotlib
cycler==0.12.1			#- matplotlib
fonttools==4.59.0		#- matplotlib
kiwisolver==1.4.8		#- matplotlib
matplotlib==3.10.3		#- matplotlib
numpy==2.3.2			#- matplotlib
packaging==25.0			#- matplotlib
pefile==2023.2.7			#- PyInstaller
pillow==11.3.0			#- matplotlib
pyinstaller==6.14.2			#- PyInstaller
pyinstaller-hooks-contrib==2025.8	#- PyInstaller
pyparsing==3.2.3		#- matplotlib
PySide6==6.9.1			#- PySide6
PySide6_Addons==6.9.1		#- PySide6
PySide6_Essentials==6.9.1	#- PySide6
python-dateutil==2.9.0.post0	#- matplotlib
pywin32-ctypes==0.2.3			#- PyInstaller
setuptools==80.9.0			#- PyInstaller
shiboken6==6.9.1		#- PySide6
six==1.17.0				#- PyInstaller

#- matplotlib requires cycler, fonttools, kiwisolver, numpy, packaging, pyparsing, and python-dateutil to function properly.

#- PyInstaller uses altgraph, pefile, pywin32-ctypes, and pyinstaller-hooks-contrib.

#- PySide6_Addons, PySide6_Essentials, and shiboken6 are closely tied to PySide6. They’re part of the broader Qt for Python ecosystem, so installing PySide6 sometimes auto-installs or expects the others.

#- six, setuptools, and packaging are often pulled in as dependencies for compatibility or build processes.

# pip freeze > requirements.txt
# pip install -r requirements.txt

# PySide6==6.9.1	
# matplotlib==3.10.3	


